// base
$font-family: "Inter";
$content-width: 128rem;
$container-offset: 1.5rem;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$bg-primary: #ffffff;
$bg-secondary: rgba(74, 86, 63, 0.2);
$green-dark: #4a563f;
$font-primary: #46494c;
$font-dark: #121212;
$font-placeholder:rgba(18, 18, 18, 0.75);
$accent-color: #84a84b;