.hero {
	margin-bottom: 8rem;
	background-image: url('images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__container {
		padding-top: 22.7rem;
		padding-bottom: 19.5rem;
	}

	&__content {
		max-width: 52rem;
		color: $white;
	}

	&__title {
		margin: 0;
		margin-bottom: 1.4rem;
		font-weight: 500;
		font-size: 5.6rem;
		line-height: 6.4rem;
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 3.2rem;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
}